<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.desklamp.enterprise.data.mapper.company.CompanyMapper">

    <select id="findById" parameterType="java.lang.Integer" resultType="companyInfo">
      select * from company_info where id = #{value}
    </select>
</mapper>